* {
    margin: 0;
    padding: 0;
}


body {
   background: rgb(65, 55, 55);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sub-container {
    width: 400px;
    height: 220px;
    background: rgb(190, 180, 180);
    display: flex;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 8px 0 rgba(0, 252, 21, 0.945), 0 7px 20px 0 rgba(6, 247, 46, 0.911);
}

.title {
    margin-top: 70px;
    color: #111;
}

.bulb-img {
    margin: 20px 30px;
}

.toggle-text {
    position: absolute;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(245, 187, 187);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  
  input:checked + .slider {
    background-color: #0afc3e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0afc3e;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


